body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}
section {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}
#skills {
    color:blue;
}
.skills-display-container {
    width:60%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    
}
.outer {
    width:7rem;
    height:1.7rem;
    border-radius:20px;
    background-color:lightgrey;
    margin-bottom:10px;
    justify-content:center;
}
.inner {
    font-size:0.7rem;
    color:white;
    height:1.7rem;
    border-radius:20px 0px 0px 20px;
}
.inner0{
    background-color:blue;
    width:60%;
}
.inner1{
    background-color:orange;
    width:80%;
}
.inner2{
    background-color:purple;
    width:70%;
}
.inner3{
    background-color:green;
    width:70%;
}
.inner4{
    background-color:blue;
    width:60%;
}
.inner5{
    background-color:purple;
    width:88%;
}
#mat {
    margin-left:10px;
}
.container {
    width:70%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    
    
}
.container img {
    width:100px;
}
.portfolio {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#shadow {
    background-color:lightgrey;
}
#over {
    display:flex;
    flex-wrap:wrap;
    font-size:0.1rem;
}
.cheading {
    color:white; 
}
#contact {
    width:100%;
    height:auto;
    background:linear-gradient(to right, #2857a4, #403066);
    display:flex;
    padding-bottom: 40px;
}
.inputs {
    width:50%;
    display:inline-block;
}
.inputs input {
    background-color: transparent;
    border:none;
    border-bottom: solid 2px white;
    padding: 10px;
}
.inputs button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: 30px;
    font-size: 7px;
    width: 70%;
    padding: 10px;
    margin-left: 30%;
    border-bottom:2px solid white;
}
.shead {
    color:white;
    margin-top:10px;
    margin-bottom:10px;
}
#para {
    color:lightgrey;
    font-size:12px;
    display:flex;
    felx-wrap:wrap;body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgrey;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}

/* Name and Social Icons*/

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}


.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/*About Section*/

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}


#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}
section {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}
#skills {
    color:blue;
}
.skills-display-container {
    width:60%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    
}
.outer {
    width:7rem;
    height:1.7rem;
    border-radius:20px;
    background-color:lightgrey;
    margin-bottom:10px;
    justify-content:center;
}
.inner {
    font-size:0.7rem;
    color:white;
    height:1.7rem;
    border-radius:20px 0px 0px 20px;
}
.inner0{
    background-color:blue;
    width:60%;
}
.inner1{
    background-color:orange;
    width:80%;
}
.inner2{
    background-color:purple;
    width:70%;
}
.inner3{
    background-color:green;
    width:70%;
}
.inner4{
    background-color:blue;
    width:60%;
}
.inner5{
    background-color:purple;
    width:88%;
}
#mat {
    margin-left:10px;
}
.container {
    width:70%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    
    
}
.container img {
    width:100px;
}
.portfolio {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#shadow {
    background-color:lightgrey;
}
#over {
    display:flex;
    flex-wrap:wrap;
    font-size:0.1rem;
}









}
#parag {
    color:lightgrey;
    font-size:10px
}
.touch {
    display:flex;
    flex-wrap:wrap;
}
.address {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}
.container {
    width:70%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.child {
/*     display:inline-block; */
}
#input-div, #add-div {
    width:48%;
    display:inline;
}
.wheading {
    display:flex;
    color:blue;
    justify-content:center;
}
.work-container {
    width:75%;
    position:relative;
}
.timeline {
    padding: 5px;
    width:40%;
    min-height:150px;
    position:relative;
    left:5%;
    text-align:right;
}
.timeline-container {
    padding:8px;
}
.timeline-logo {
    position:absolute;
    width:50px;
    overflow:hidden;
}
.timeline-logo>img {
    width:100%;
}

.timeline:nth-child(2n){
    margin-left:50%;
}
.timeline-divider {
    position: absolute;
    border:3px dashed #0096fa6b;
    height:80%;
    width:0;
    left:50%;
    top:10%;
    color:#433E3F;
}
.timeline-traveller {
    position:sticky;
    top:135px;
    transform:rotate(90deg);
    z-index:2;
    color:#2857a4;
    display:block;
    margin-top:-35px;
}

.timeline:nth-child(2n+1)::after{
    content:'';
    position:absolute;
    top:37%;
    right:-12%;
    border-radius:50%;
    width:1rem;
    height:1rem;
    background-color:lightgrey;
    z-index:1;
}
.timeline:nth-child(2n)::before{
    content:'';
    position:absolute;
    top:37%;
    left:-15%;
    border-radius:50%;
    width:1rem;
    height:1rem;
    background-color:lightgrey;
    z-index:1;
}
.designation {
    font-size:1.4rem;
}
.company {
    font-size:1.2rem;
    font-weight:400;
    color:#eb822d;
    margin:5px 0 0;
    
}
.date {
    color:#9e9b9b;
    font-size:1rem;
    color:grey;
    line-height:20px;
}
.description {
    font-size:14px;
    padding:2px;
    color:grey;
    line-height:20px;
    text-align:justify;
}
.contact-container {
    display:flex;
    margin-left:10%;
}
.my-details {
    width:50%;
    min-width:45%;
}
.forming input,textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
.sub-btn {
    color:white;
    background:transparent;
    padding:5px 10px;
    height:40px;
    border:1px solid white;
    margin-left:30%;
    box-shadow:0px 0px 1px 1px;
}
.address {
    margin-top:-25px;
    margin-left:10%;
    margin-right:10%;
    min-width:30%;
}
#color {
    color:white;
}
#git-para {
    color:lightgrey;
    font-size:10px;
    min-width:40%
}
#details {
    color:lightgrey;
    font-size:20px;
    line-height:40px;
    margin-bottom:50px;
    min-width:30%;
}
#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 100px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}
.section-heading {
    color:blue;
}





